.navbar{
    width: 100%;
    min-height: 1vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    transition: all .7s ease-in;
    background-color: #eee;
  }
.navbar--logo-holder h1{
  padding-left: 45px;
}
.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightblue;
}
.logo img{
  width: 50px;
}
.navbar ul li{
    display: inline;
    padding:45px
}
.vertical-menu {
  width: 200px;
  height: 92vh;
  background-color: #eee;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
 